body {
  background-color: rgb(192, 1, 1);
}
.popup-overlay {
  display: none;

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: rgba(0, 0, 0, 0.5);
}

.popup {
  font-family: Arial, sans-serif;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  background: #c3c823;

  padding: 20px;

  border-radius: 8px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #590606;
}

.popup-content {
  text-align: center;
}

.popup .close {
  position: absolute;

  top: 10px;

  right: 10px;

  font-size: 20px;

  cursor: pointer;

  color: #333;
}

.popup #emailInput {
  width: 80%;

  padding: 10px;

  margin: 10px 0;

  border: 1px solid #ddd;

  border-radius: 4px;
}

.popup button {
  background-color: rgb(192, 1, 1);

  color: #fff;

  padding: 10px 20px;

  border: none;

  border-radius: 4px;

  cursor: pointer;

  font-size: 16px;
}
.site-header {
  text-align: center;
  padding: 20px 0;

  font-family: "Verdana";
  border-radius: 8px;

  -webkit-text-stroke: 0.5px #2f0000; /* outline width and color */
  font-size: 20px;
  font-weight: bold;
}
.site-header h1 {
  margin: 0;
  font-size: 2.5em;
  color: #590606;
  font-family: "Verdana";
  size: 1px;
}
.navbar {
  overflow: hidden;
  background-color: #c3c823;
  font-family: Arial;
  border-radius: 8px;
  -webkit-text-stroke: 0.5px #2f0000;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(183, 21, 21);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Verdana";
  -webkit-text-stroke: 0.5px #2f0000;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(183, 21, 21);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #cad02c;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #cad02c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(183, 21, 21);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #dce22f;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.txt {
  font-family: "Verdana";
  color: #bebb00;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

.audio {
  display: none;
}
